body {
  font-size: 18px;
  color: #4e4e4e;
  font-weight: 600;
}

.header {
  display: flex;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 100;

  @media screen and (max-width: @max-width) {}
}

.header .logo {
  width: 250px;
  height: 78px;
  cursor: pointer;
  background-image: url("../../public/image/wesoft-home.png");
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: center;
}

.ant-menu-title-content {
  color: #cc3300;
  font-family: "CustomFont", sans-serif;
  font-size: 16px;
}

.custom-menu .ant-menu-item {
  margin-bottom: 14px;
}

@media screen and (max-width: @max-width) {
  body {
    font-size: 16px;
  }

  .ant-menu-title-content {
    font-size: 16px;
  }

  .header .logo {
    width: 78px;
    height: 78px;
    cursor: pointer;
    background-image: url("../../public/image/cropped-wesoft_270x270.png");
    background-size: cover;
  }
}