.homepage {
  margin-top: 20px;
  min-height: 50vh;
  overflow: hidden;
}

.homepage .home-title {
  width: 100vw;
  text-align: center;
}

.homepage .home-content {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
}

.homepage .home-button {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.home-table {
  font-size: 1.5em;
  width: 60vw;
}

.home-table .ant-table-row {
  font-size: 1.5em;
  color: #333;
  font-family: "CustomFont", sans-serif;
}

.home-table .ant-table-tbody .ant-table-row .ant-table-cell {
  border-bottom: 2px solid #cc3300;
}

.home-table .subTitle {
  color: #333;
}

.home-table .summary {
  color: #777;
  font-size: 0.9em;
}

@media screen and (max-width: @max-width) {
  .home-table {
    font-size: 12px;
    width: 90vw;
  }
  .home-table .ant-table-row {
    font-size: 1em;
  }
}
